body, html{
  height:100%;
  z-index: -1;
}
body{
  background: url('https://i.ytimg.com/vi/Zs9CvttTOfs/maxresdefault.jpg') 50% 50% no-repeat;
  /*background-size: cover;*/
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  z-index: 1;
  border:10px solid red;
  border-radius:20px;
  height: 20px;
  width: 20px;
  position:absolute;
}

.big {
  height: 60px;
  width: 60px;
  border-radius: 60px;
}

#dancefloor {
  z-index: 0;
  position: relative;
  width: 800px;
  height: 800px;
}
